*{
    box-sizing: border-box;
}

.contact{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}