*{
    box-sizing: border-box;
    overflow: hidden;
}

.projects{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    border-radius: 10px;
}

.projects .projects-list{
    display: flex;
    height: 100%;
    width: 30%;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 800;
}

.projects .projects-list li{
    list-style-type: none;
    color: rgb(58, 58, 58);
    background-color: rgb(202, 202, 202);
    margin-top: 10px;
    border-radius: 10px;
}

.projects .projects-list .selected{
    color: blue;
    background-color: aliceblue;
}

.projects .projects-list li:hover{
    cursor: pointer;
    color: blue;
    background-color: aliceblue;
}

.projects .divider{
    display: flex;
    border: 1.5px solid darkgray;
    border-radius: 10px;
    height: 90%;
    margin-left: 12px;
    margin-right: 20px;
}

.projects .project-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.projects .project-info .project-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
    border-radius: 10px;
}

.projects .project-info .project-description{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
}