@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
}

.my-heading-typing {
    font-size: 2.4rem;
    color: #17befb;
}

.my-heading-typing {
    width: 30ch;
    animation: typing 2s steps(33), blink .5s step-end infinite alternate;
    white-space: nowrap;
}

.my-name {
    color: brown;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    0% {
        border-color: transparent
    }
}

.rest {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}

.about-me {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    color: #17befb;
    font-size: 2rem;
    padding: 10px;
    font-weight: 800;
}

.my-info {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    margin: 10px;
    color: #3d3d3d;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.my-info-dark {
    color: #ffffffde;
}

.divider {
    display: flex;
    border: 1.5px solid darkgray;
    border-radius: 10px;
    height: 90%;
    margin-left: 12px;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.contact h2 {
    color: #17befb;
    margin-bottom: 20px;
}

.contact li {
    text-align: center;
    padding: 2px;
}