*{
    box-sizing: border-box;
}

.section-title{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
}

.section-title .title{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 800;
    align-items: center;
    justify-content: center;
}

hr{
    border-top: 2px solid darkgray;
    width: 98%;
}


.divider{
    display: flex;
    border: 1.5px solid darkgray;
    border-radius: 10px;
    height: 99%;
}

.skills-div{
    display: flex;
    height: 90%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.skills-div .technical-skills-list{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-div .technical-skills-list .skill-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgb(219, 210, 198);
    margin: 10px;
    border-radius: 40px;
}

.skills-div .technical-skills-list .skill-container img{
    height: 100px;
    width: 100px;
}

.skills-div .soft-skills-list{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-div .soft-skills-list .skill-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: rgb(219, 210, 198);
    margin: 10px;
    border-radius: 40px;
    font-weight: 800;
}