@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.7rem 0;
}

.view {
    margin: 0 1.5rem;
    height: 40rem;
    width: 65rem;
    border-radius: 10px;
    background-color: #f4f0f0;
    font-family: 'Lato', sans-serif;
}

.view-dark {
    color: #ffffffde;
    background-color: #121212;
}