@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.footer{
    display: flex;
    height: 6%;
    width: 30%;
    align-items: center;
    justify-content: center;
    background-color: #a09f9f54;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-family: 'Lato', sans-serif;
}

.footer #name{
    color: #ffff29;
}

.footer img{
    width: 20px;
    height: 20px;
}