@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.footer {
    width: fit-content;
    margin: 0 auto;
    padding: 0.65rem 3rem;
    background-color: #a09f9f54;
    border-radius: 10px 10px 0 0;
    color: white;
    font-family: 'Lato', sans-serif;
}

.footer-dark {
    color: #ffffffde;
    background-color: #2a2d2f75;
}

.footer #name {
    color: #ffff29;
}

.footer img {
    width: 20px;
    height: 20px;
}