@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 8%;
    width: 40%;
    background-color: #a09f9f54;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar .menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar .menu ul>li{
    padding: 10px;
    list-style-type: none;
}

button{
    background: none;
    padding: 10px;
    font-size: 1.35rem;
    font-weight: 900;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'JetBrains Mono', monospace;
}

.selected{
    color: blue;
    background-color: aliceblue;
}

button:hover{
    color: blue;
    background-color: aliceblue;
}