@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

.navbar {
    width: fit-content;
    margin: 0 auto;
    padding: 0 3.7rem;
    background-color: #a09f9f54;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar-dark {
    background-color: #2a2d2f75;
}

li {
    padding: 0.45rem 0.6rem;
    list-style-type: none;
}

.nav-btn {
    cursor: pointer;
    background: none;
    padding: 0.7rem;
    font-size: 1.35rem;
    font-weight: 900;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'JetBrains Mono', monospace;
}

.nav-btn-dark {
    color: #ffffffde;
}

.selected {
    color: white;
    background-color: #bdbdbd97;
}

.selected-dark {
    color: #ffffffde;
    background-color: #3f3f3f;
}

.nav-btn:hover {
    color: white;
    background-color: #bdbdbd97;
}

.nav-btn-dark:hover {
    color: #ffffffde;
    background-color: #3f3f3f;
}

.link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.link:hover {
    color: white;
    background-color: transparent;
}

.link:visited {
    color: white;
    background-color: transparent;
}

.link-dark {
    color: #ffffffde;
}

.link-dark:hover {
    color: #ffffffde;
    background-color: transparent;
}

.link-dark:visited {
    color: #ffffffde;
    background-color: transparent;
}

.theme-btn button {
    cursor: pointer;
    background: transparent;
    border: none;
}

.theme-btn img {
    height: 2.5rem;
    width: 2.5rem;
}