@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    margin: 0 1.5rem;
    border-radius: 10px;
    background-color: #f4f0f0;
    font-family: 'Lato', sans-serif;
}

.profile-card-dark {
    background-color: #121212;
}

.profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.85rem;
    height: 242px;
    width: 242px;
    border-radius: 130px;
    background-color: #b6b6b6;
    overflow: hidden;
}

.profile-photo-dark {
    background-color: #494949;
}

.profile-photo img {
    height: 218px;
    width: 218px;
    border-radius: 110px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.6rem 0;
}

.name h2 {
    font-size: 1.9rem;
    padding: 0.4rem;
}

.name p {
    font-size: 1.25rem;
    padding: 0.4rem;
}

.name-dark h2 {
    color: #ffffffde;
}

.name-dark p {
    color: #ffffffde;
}

hr {
    border-top: 2px solid #a9a9a9;
    width: 16rem;
    margin: 1rem;
}

.hr-dark {
    border-top: 2px solid #565656;
}

.socialicons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem;
    flex-wrap: wrap;
}

.socialicons a {
    padding: 1rem;
}

.socialicons a:hover {
    background-color: transparent;
}

.socialicons img {
    height: 50px;
    width: 50px;
}