.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 70px;
    background-color: #fead5d;
}

.navbar .menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

li{
    padding: 10px;
    list-style-type: none;
}

button{
    background: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    color: white;
    border: none;
    border-radius: 10px;
}

button:hover{
    color: blue;
    background-color: aliceblue;
}

/* a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 550;
    padding: 6px 12px;
    border-radius: 12px;
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: blue;
    background-color: aliceblue;
} */