@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}
.profile-card{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 80%;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    z-index: 1;
    background-color: #f4f0f0;
    font-family: 'Lato', sans-serif;
}

.profile-card .profile-photo-div{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.profile-card .profile-photo  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 220px;
    width: 220px;
    border-radius: 120px;
    border: 1px solid white;
    background-color: #dbdada;
}
.profile-card .profile-photo .profile-photo-inner {
    display: flex;
    margin: 10px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 2px soid black;
}

.profile-card .profile-photo .profile-photo-inner img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.user{
    display: flex;
    height: 15%;
    margin: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user .user-name{
    padding: 10px;
}

.user .username{
    padding: 10px;
}

hr{
    border-top: 2px solid darkgray;
    width: 80%;
}

.socials{
    display: flex;
    height: 30%;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socials .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.socials .icons a{
    padding: 5px;
}

.socials .icons a>img{
    height: 50px;
    width: 50px;
}