.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 150px;
    background-color: #c8c8c8;
    text-decoration: none;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
}

.button-dark{
    background-color: #2e2e2e;
}

.button:hover{
    background-color: #ababab;
}

.button-dark:hover{
    background-color: #515050;
}

.button:visited{
    text-decoration: none;
}

.button .img img{
    height: 35px;
    margin: 6px;
}

.button .label{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    line-height: 50px;
    font-size: 30px;
}

.button .label-dark{
    color: #ffffffde;
}