*{
    box-sizing: border-box;
    overflow: hidden;
}

.projects-list{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 800;
    background-color: transparent;
}

.projects-list ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.projects-list li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 99%;
    color: rgb(39, 39, 39);
    background-color: rgb(138, 138, 138);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-right: 1.2px solid black;
}

.projects-list .selected{
    color: blue;
    background-color: #a6c2db;
}

.projects-list li:hover{
    cursor: pointer;
    color: blue;
    background-color: #a6c2db;
}