* {
    box-sizing: border-box;
    overflow: hidden;
}

.projects-list {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 800;
}

ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.list-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 100%;
    color: white;
    background-color: #848d96;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-right: 1.2px solid lightgray;
}

.selected {
    color: blue;
    background-color: #b7c6d7;
}

.list-items:hover {
    cursor: pointer;
    color: blue;
    background-color: #b7c6d7;
}

.list-items-dark {
    color: #ffffffde;
    background-color: #2e2e2e;
}

.selected-dark {
    color: #8be6ff;
    background-color: #5e5e5e;
}

.list-items-dark:hover {
    color: #8be6ff;
    background-color: #5e5e5e;
}