.project-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}

.project-info .project-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 65%;
    margin-left: 3rem;
}

.project-info .project-img img {
    width: 40rem;
    height: 30rem;
    border-radius: 12px;
}

.project-info .pj-content {
    padding: 2rem;
}

.pj-content p {
    font-size: 1.1rem;
    padding: 1rem;
    margin: 0.5rem 0;
}

.btn-grp {
    display: flex;
    flex-direction: row;
}